@import 'root';

body
{

    main
    {
        height: 100vh;
        width: 100%;
        background: url("/assets/img/corporate.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: -60px;

        & > .container
        {
            height: 100%;
            width: 100%;
            background-color: rgba(darken($primary-color, 10), 0.6);
            backdrop-filter: blur(2px);
            @extend .flex-column, .x-start;
            padding-left: 5%;

            & > p
            {
                font-size: 3rem;
                color: $white;
                font-weight: 600;
                margin-top: 10%;
                width: 65%;
                letter-spacing: 2px;
                opacity: 0;
                animation: slideIn 1.5s ease-in forwards;
                animation-delay: 0.1s;
            }

            & > a
            {
                opacity: 0;
                animation: fadeIn 1s ease-in forwards;
                animation-delay: 1.3s;
                margin-top: 2%;
                padding: 20px 40px;
            }
        }
    }

    section
    {
        width: 100%;
        height: 80vh;
        @extend .flex-column;


        & .grid-container
        {

            box-sizing: border-box;
            padding: 1%;
            width: 90%;
            height: 90%;
            @extend .grid-2;

            // &, & > *, & > * > *
            // {
            //     border: 1px solid orangered;
            // }

            .info
            {
                padding: 2%;

                h4 
                {
                    font-size: 1.5rem;
                    font-weight: lighter;
                    margin-bottom: 2%;
                }

                p
                {
                    margin-top: 5%;
                    margin-bottom: 5%;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 2rem;
                    width: 95%;
                    opacity: 0.5;
                }
            }

            div
            {
                box-sizing: border-box;
                padding: 1%;
            }


            .text
            {
                @extend .y-start, .x-start;
                background-image: url("/assets/img/blob.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-position-x: -20px;
                background-position-y: -100px;

                h2, h4
                {
                    font-size: 1.2rem;
                    font-weight: 400;
                    padding: 1%;
                    margin-bottom: 2%;
                }


                h1
                {
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 1%;

                    small
                    {
                        font-size: 10px;
                        position: relative;
                        top: -10px;
                        opacity: 1;
                        color: darken($primary-color, 10%);

                    }

                    span
                    {
                        font-weight: lighter;
                        color: darken($primary-color, 10%);
                    }
                }

                .short-intro
                {
                    width: 80%;
                    height: max-content;
                    opacity: 0.5;
                    font-size: 13px;
                    margin: 10px 0;
                    padding: 1%;

                    &:hover
                    {
                        cursor: cell;
                        opacity: 0.8;
                    }


                }

                ul
                {
                    width: 90%;
                    padding: 1%;

                    li
                    {
                        color: $navy;

                        i
                        {
                            color: $primary-color;
                            margin-right: 10px;
                        }

                        span
                        {
                            font-size: small;
                            opacity: 0.6;
                            &:hover
                            {

                                cursor: cell;
                                opacity: 1;
                            }
                        }
                    }
                }

            }
            
            .image
            {
                // background-image: url("/assets/img/blob.png");
                // background-repeat: no-repeat;
                // background-position: center;
                // background-size: cover;

                img
                {
                    width: 95%;
                    border-radius: 10px;                    
                }
            }


        }


    }

    .blog
    {
        height: 160vh;
        @extend .y-start;

        h3
        {
            align-self: flex-start;
            position: relative;
            left: 6.5%;
            padding-top: 1%;
            border-top: 3px solid $primary-color;
        }
        .grid-container
        {
            height: 50%;

            .post
            {
                height: 80%;
                box-sizing: border-box;
                padding: 1% 2%;

                h1
                {
                    margin-bottom: 10px;
                    max-height: 30%;
                    a
                    {
                        font-size: initial;
                        color : $primary-color;
                    }
                }

                span
                {
                    margin-bottom: 5px;

                    font-size: smaller;
                }

                p
                {
                    margin-top: 5px;

                    font-size: 8px;
                    opacity: 0.5;
                    line-height: 21px;
                }

                a
                {
                    margin-top: 10px;
                    font-size: 10px;
                    opacity: 0.6;
                    color: $primary-color;

                    i
                    {
                        margin-left: 2px;
                    }

                    &:hover
                    {
                        transition: all 1s ease-in;

                        opacity: 1;

                        i
                        {
                            transform: translateX(2px);
                        }
                    }
                }
            }
        }

    }

    .careers
    {
        height: 50vh;
        width: 100%;
        background-color: darken($primary-color, 25%);
        @extend.flex-column;

        h1
        {
            font-weight: 100;
            margin-bottom: 2%;
        }

        h4
        {
            font-weight: 100;
            text-transform: lowercase;
            width: 60%;
            text-align: center;
            margin-bottom: 2%;

            * {text-transform: lowercase;}
        }
    }

    .contact
    {
        height: 80vh;
        h1
        {
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 2%;
        }

        .form
        {
            @extend .shadowed;
            box-sizing: border-box;
            padding: 5%;
            border-radius: 10px;
            width: 80%;

            form
            {
                margin-top: 10px;


                input
                {
                    border-radius: 10px;
                    width: 100%;
                    padding: 1.5%;
                    margin-bottom: 4%;
                    border: 1px solid $primary-color;
                    outline: none;
                    // box-shadow: 0 0 3px rgba(0,0,0,0.2);
                    font-size: xx-small;

                    &::placeholder
                    {
                        font-size: xx-small;
                    }
                }
                textarea
                {
                    font-size: smaller;
                    width: 100%;
                    padding: 2%;
                    margin-bottom: 2%;
                    border-radius: 10px;
                    border: 1px solid $primary-color;
                    outline: none;
                    height: 120px;
                    // box-shadow: 0 0 3px rgba(0,0,0,0.2);
                }
            }
        }
    }


}